.t-table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}
tr, td, th {
    border: 1px solid;
}
.t-form {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.t-form * {
    margin: 10px;
}
.t-form > input[type="text"], input[type="date"] {
    width: 300px;
}